<div
  class="ss-timer-div-counter"
  style="
    display: flex;
    justify-content: center;
    align-items: center;
  "
>
  <div id="ss-countdown">
    <ul
      class="ss-timer-ul"
      ss-date-time="{{ timer-date | default: '12/28/2024' }} {{ timer-time | default: '21:24:59' }}"
    >
      <li><span id="days"></span>Days</li>
      <span class="time-colon">:</span>
      <li><span id="hours"></span>Hrs</li>
      <span class="time-colon">:</span>
      <li><span id="minutes"></span>Mins</li>
      <span class="time-colon">:</span>
      <li><span id="seconds"></span>Secs</li>
    </ul>
    <div class="ss-sale-live">{{ live-sale | default: 'Sale is on' }}</div>
  </div>
</div>
