 {% if product != blank %}
    <div class="ss-pc-product">
      <a href="{{ product.url }}">
        <div class="ss-pc-product-image">
          {% render 'ss-media-snippet', img: product.featured_image, object_fit: 'cover' %}
        </div>
        <div class="ss-pc-product-info">
          <p class="ss-pc-product-title heading-pc-1-0">{{ product.title }}</p>
          <div class="ss-pc-price">
           {% render 'ss-price-v-1-0', product: product %}
          </div>
        </div>
      </a>
    </div>
  {% endif %}