<div class="text-container">
  <div class="rating-container" ss-data-rating="5"></div>
  <div class="rating-container" ss-data-rating="3.4"></div>
  <div class="rating-container" ss-data-rating="1.2"></div>
</div>

<div class="star-images-hidden" hidden>
  <i
    class="star full"
    style="background: url({{ full_star }})"
  ></i>
  <i
    class="star partial"
    style="background: url({{ half_star }})"
  ></i>
  <i
    class="star empty"
    style="background: url({{ empty_star }})"
  ></i>
</div>
