
  <div class="ss-rating-container" ss-data-rating="5"></div>
  <div class="ss-rating-container" ss-data-rating="3.4"></div>
  <div class="ss-rating-container" ss-data-rating="1.2"></div>


<div class="ss-star-images-hidden" hidden>
  <i
    class="ss-star ss-full"
    style="background: url(https://cdn.shopify.com/s/files/1/0562/7763/1105/files/svg-star.svg?v=1732888283)"
  ></i>
  <i
    class="ss-star ss-partial"
    style="background: url(https://cdn.shopify.com/s/files/1/0562/7763/1105/files/svg-0.svg?v=1732889585)"
  ></i>
  <i
    class="ss-star ss-empty"
    style="background: url(https://cdn.shopify.com/s/files/1/0562/7763/1105/files/svg-0.svg?v=1732889585)"
  ></i>
</div>
