<div class="text-container">
  <div class="rating-container" ss-data-rating="5"></div>
  <div class="rating-container" ss-data-rating="3.4"></div>
  <div class="rating-container" ss-data-rating="1.2"></div>
</div>