<div class="5-star">
  {% for i in (1..5) %}
  <img src="https://cdn.shopify.com/s/files/1/0562/7763/1105/files/fill-100.png?v=1732826080">
  {% endfor %}
</div>
<div class="4-star">
  {% for i in (1..4) %}
    <img src="https://cdn.shopify.com/s/files/1/0562/7763/1105/files/fill-100.png?v=1732826080">
  {% endfor %}
  <img src="https://cdn.shopify.com/s/files/1/0562/7763/1105/files/fill-0.png?v=1732826080">
</div>
<div class="3-star">
  <img src="https://cdn.shopify.com/s/files/1/0562/7763/1105/files/fill-100.png?v=1732826080">
  {% for i in (1..4) %}
  <img src="https://cdn.shopify.com/s/files/1/0562/7763/1105/files/fill-0.png?v=1732826080">
  {% endfor %}
</div>