
        <style>
            *{
                padding: 0;
                margin: 0;
                box-sizing: border-box;
            }
            .main-ct_34_d9{
                width: 100%;
                padding: 50px 0;
                background: #E1E1E1;
            }
            .inner-ct_34_d9{
                width: 95%;
                max-width: 1440px;
                margin: 0 auto;
            }
            .row-ct_34_d9{
                display: flex;
                align-items: center;
                justify-content: center;
                gap: 20px;
            }
            .content-ct_34_d9,.yes-no-col{
                height: 60px;
                border: 1px solid;
            }
            .yes-no-ct_d9{
                display: flex;
                align-items: center;
                justify-content: center;
            }

        </style>
        
        
        <div class="main-ct_34_d9">
            <div class="inner-ct_34_d9">
                <div class="row-ct_34_d9">
                    <div class="col-ct_34_d9">
                        <div class="content-ct_34_d9">
                            <div class="content-img-ct_34_d9">
                                <img src="" alt="">
                            </div>
                            <h4>.</h4>
                        </div>
                        <div class="content-ct_34_d9">
                            <div class="content-img-ct_34_d9">
                                <img src="" alt="">
                            </div>
                            <h4>NATIVE SHOPIFY PAGE BUILDER</h4>
                        </div>
                    </div>
                    <div class="col-ct-34-d9 yes-no-ct_d9">
                        <div class="mini-col-ct_34_d9">
                            <div class="yes-no-col logo-col">Our</div>
                            <div class="yes-no-col">Yes</div>
                        </div>
                        <div class="mini-col-ct_34_d9">
                            <div class="yes-no-col logo-col">Others</div>
                            <div class="yes-no-col">No</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>



{% schema %}
{
    "name": "Comparison Tabel",
    "settings": [
        
        ],
        "presets": [
            {
                "name": "Comparison Tabel"
            }
        ]
}
{% endschema %}