
        <style>
            *{
                padding: 0;
                margin: 0;
                box-sizing: border-box;
            }
            .main-ct_34_d9{
                width: 100%;
                padding: 50px 0;
                background: #E1E1E1;
            }
            .inner-ct_34_d9{
                width: 95%;
                max-width: 1440px;
                margin: 0 auto;
            }
            .row-ct_34_d9{
                display: flex;
                align-items: center;
                justify-content: center;
                gap: 20px;
            }
            .content-ct_34_d9,.yes-no-col{
                height: 60px;
                border: 1px solid;
            }
            .yes-no-ct_d9{
                display: flex;
                align-items: center;
                justify-content: center;
            }
            .first-col-ct{
                visibility: hidden;
            }
        </style>
        
        
        <div class="main-ct_34_d9">
            <div class="inner-ct_34_d9">
                <div class="row-ct_34_d9">
                    <div class="col-ct_34_d9">
                        <div class="content-ct_34_d9 first-col-ct">
                            <div class="content-img-ct_34_d9">
                                <img src="" alt="">
                            </div>
                            <h4>.</h4>
                        </div>
                        <div class="content-ct_34_d9">
                            <div class="content-img-ct_34_d9">
                                <img src="" alt="">
                            </div>
                            <h4>NATIVE SHOPIFY PAGE BUILDER</h4>
                        </div>
                    </div>
                    <div class="col-ct-34-d9 yes-no-ct_d9">
                        <div class="mini-col-ct_34_d9">
                            <div class="yes-no-col logo-col">
                                {% if section.settings.our-image != blank %}
                                <img src="{{ section.settings.our-image |  image_url: width:300, height: 300  }}" alt="Ours">
                                {% endif %}
                                {% if section.settings.our-image == blank %}
                                <h4>{{ section.settings.our-text }}</h4>
                                {% endif %}
                            </div>
                            <div class="yes-no-col">Yes</div>
                        </div>
                        <div class="mini-col-ct_34_d9">
                            <div class="yes-no-col logo-col">
                                {% if section.settings.other-image != blank %}
                                <img src="{{ section.settings.other-image |  image_url: width:300, height: 300  }}" alt="Others">
                                {% endif %}
                                {% if section.settings.other-image == blank %}
                                <h4>{{ section.settings.other-text }}</h4>
                                {% endif %}
                            </div>
                            <div class="yes-no-col">No</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>



{% schema %}
{
    "name": "Comparison Tabel",
    "settings": [

        {
            "type": "image_picker",
            "id": "our-image",
            "label": "Our Logo"
        },
        {
            "type": "text",
            "id": "our-text",
            "label": "Our Text",
            "default": "Ours"
        },
        {
            "type": "image_picker",
            "id": "other-image",
            "label": "Others Logo"
        },
        {
            "type": "text",
            "id": "other-text",
            "label": "Others Text",
            "default": "Others"
        }
        
        ],
        "presets": [
            {
                "name": "Comparison Tabel"
            }
        ]
}
{% endschema %}