{% assign collection = section.settings.collection %}
<style>
    *{
        padding: 0;
        margin: 0;
        box-sizing: border-box;
    }
    .cq-main-d5{
        width: 100%;
    }
    .cq-inner-d5{
        max-width: 1440px;
        padding: 0 40px;
        margin: 80px auto;
    }
    .cq-row-d5{
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap: 10px;
    }
    .cq-card-d5{
        border: 1px solid;
        border-radius: 10px;
        overflow: hidden;
    }
    .cq-image-d5{
        width: 100%;
        aspect-ratio: 1;
    }
    .cq-image-d5 img{
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
    .cq-info-d5{
        padding: 10px 15px;
        display: flex;
        width: 100%;
        flex-direction: column;
    }
    .cq-info-d5 h4{
        font-size: 16px;
        line-height: normal;
        margin-bottom: 10px;
    }
    .cq-quick-d5{
        width: fit-content;
        align-self: end;
        background: #000;
        color: #fff;
        border: none;
        border-radius: 25px;
        height: 35px;
        width: 100px;
        cursor: pointer;
    }
</style>

<div class="cq-main-d5">
    <div class="cq-inner-d5">
        <div class="cq-row-d5">
            {% for product in collection.products limit: 20 %}
                <div class="cq-card-d5" products-d5>
                    <div class="cq-image-d5">
                        <img src="{{ product.featured_image |  image_url: width: 600 }}" alt="{{ product.title }}" loading="lazy">
                    </div>
                    <div class="cq-info-d5">
                        <h4>{{ product.title }}</h4>
                        <button class="cq-quick-d5" data-url="{{ product.handle }}" quickview-trigger-d5>
                            + View
                        </button>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>



    <div class="cq-model-d5" quick-model>

    </div>



</div>

<script>
   (function() {
    const products = document.querySelectorAll('[products-d5]');
    const quickModel = document.querySelector('[quick-model]');

    products.forEach(product => {
        const button = product.querySelector('[quickview-trigger-d5]');
        button.addEventListener('click', async () => {
            const handle = button.getAttribute('data-url');
            await getData(handle);
            quickModel.classList.add('model__open');
        });
    });

    async function getData(handle) {
        try {
            const req = await fetch(`/products/${handle}.json`)
            const res = await req.json()
            console.log('response', res)
            const product = res.product;
            creatModel(product); 
        } catch (err) {
            console.error(err);  
        }
    }

    function creatModel(product){
        const model = document.createElement('div');
        model.classList.add('cq-model-inner-d5');
        model.innerHTML = `
            <div class="cq-model-img-d5">
                <img src="${product.image}" alt="${product.title}">
            </div>
        `
        quickModel.appendChild(model); 
    }

})();

</script>


{% schema %}
{
    "name": "D5 Collection Grid",
    "settings": [
        {
            "type": "collection",
            "id": "collection",
            "label": "Collection"
        }
        ],
    "presets": [
        {
            "name": "D5 Collection Grid"
        }
    ]
}
{% endschema %}