{% comment %}
<!-- Swiper.js CSS -->
doc file:
{% endcomment %}
<script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>
<link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.min.css">


<div class="swiper-container">
  <div class="swiper-wrapper">
    {% assign collection  = section.settings.collection %}
    {% for product in collection.products %}
     {% render 'ss-carousel-v-1-0', product: product %}
    {% endfor %}
  </div>

  <div class="swiper-pagination"></div>
  <div class="swiper-button-next"></div>
  <div class="swiper-button-prev"></div>
</div>

<script>
  var swiper = new Swiper('.swiper-container', {
    loop: true,
    slidesPerView: 3,
    spaceBetween: 10,
    pagination: {
      el: '.swiper-pagination',
      clickable: true
    },
    navigation: {
      nextEl: '.swiper-button-next',
      prevEl: '.swiper-button-prev'
    }
  });
</script>


{% schema %}
  {
    "name": "SS Carousel",
    "settings": [
      {
        "type": "collection",
        "id": "collection",
        "label": "Collection"
      }
    ],
    "presets": [
      {
        "name": "SS Carousel"
      }
    ]
  }
{% endschema %}