<form>
  {% for block in section.blocks %}
    {% case block.type %}
      {% when 'text' %}
        {% render 'ss-input-v-1-0',
          label: block.settings.label,
          label_for: block.settings.label_for,
          type: block.type,
          value: block.settings.value,
          name: block.settings.name,
          required: block.settings.required,
          readonly: block.settings.readonly,
          disabled: block.settings.disabled
        %}
       {% when 'textaria' %}
        {% render 'ss-input-v-1-0',
          label: block.settings.label,
          label_for: block.settings.label_for,
          name: block.settings.name,
          required: block.settings.required
        %}
    {% endcase %}
  {% endfor %}
</form>

{% schema %}
{
  "name": "SS Form",
  "settings": [],
  "blocks": [
    {
      "type": "text",
      "name": "Type Text",
      "settings": [
        {
          "type": "text",
          "id": "label",
          "label": "Input Label"
        },
        {
          "type": "text",
          "id": "label_for",
          "label": "Label For"
        },
        {
          "type": "text",
          "id": "value",
          "label": "Value"
        },
        {
          "type": "text",
          "id": "name",
          "label": "Name"
        },
        {
          "type": "checkbox",
          "id": "required",
          "label": "Required",
          "default": true
        },
        {
          "type": "checkbox",
          "id": "disabled",
          "label": "Disable"
        },
        {
          "type": "checkbox",
          "id": "readonly",
          "label": "Read Only"
        }
      ],

    },
    {
      "type": "textaria",
      "name": "Type Text Aria",
      "settings": [
        {
          "type": "text",
          "id": "label",
          "label": "Input Label"
        },
        {
          "type": "text",
          "id": "label_for",
          "label": "Label For"
        },
        {
          "type": "text",
          "id": "name",
          "label": "Name"
        },
        {
          "type": "checkbox",
          "id": "required",
          "label": "Required",
          "default": true
        }
      ],

    },
     {
      "type": "checkbox",
      "name": "Type Checkbox",
      "settings": [
        {
          "type": "text",
          "id": "label",
          "label": "Input Label"
        },
        {
          "type": "text",
          "id": "label_for",
          "label": "Label For"
        },
        {
          "type": "text",
          "id": "value",
          "label": "Value"
        },
        {
          "type": "text",
          "id": "name",
          "label": "Name"
        },
        {
          "type": "checkbox",
          "id": "required",
          "label": "Required",
          "default": true
        }
      ],

    }
  ],
  "presets": [
    {
      "name": "SS Form"
    }
  ]
}
{% endschema %}
