<form>
  {% for block in section.blocks %}
    {% case block.type %}
      {% when 'heading' %}
        block{{ block.type }}
        <h2>{{ block.settings.heading }}</h2>
      {% when 'text' %}
        {% render 'ss-input-v-1-0',
          label: block.settings.label,
          type: block.type,
          value: block.settings.value,
          name: block.settings.name,
          required: block.settings.required,
          readonly: block.settings.readonly,
          disabled: block.settings.disabled
        %}
      {% when 'textarea' %}
        {% render 'ss-input-v-1-0',
          type: block.type,
          label: block.settings.label,
          name: block.settings.name,
          required: block.settings.required
        %}
      {% when 'checkbox' %}
        {% render 'ss-input-v-1-0',
          type: block.type,
          label: block.settings.label,
          name: block.settings.name,
          required: block.settings.required
        %}
    {% endcase %}
  {% endfor %}
</form>

{% schema %}
{
  "name": "SS Form",
  "settings": [],
  "blocks": [
    {
      "type": "heading",
      "name": "Heading",
      "settings": [
        {
          "type": "text",
          "id": "heading",
          "label": "Heading"
        }
      ]
    },
    {
      "type": "text",
      "name": "Type Text",
      "settings": [
        {
          "type": "text",
          "id": "label",
          "label": "Input Label"
        },
        {
          "type": "text",
          "id": "placeholder",
          "label": "Place Holder"
        },
        {
          "type": "text",
          "id": "value",
          "label": "Value"
        },
        {
          "type": "text",
          "id": "name",
          "label": "Name"
        },
        {
          "type": "checkbox",
          "id": "required",
          "label": "Required",
          "default": true
        },
        {
          "type": "checkbox",
          "id": "disabled",
          "label": "Disable"
        },
        {
          "type": "checkbox",
          "id": "readonly",
          "label": "Read Only"
        },
         {
          "type": "select",
          "id": "position",
          "label": "Label Position",
          "options": [
            {
              "label": "Above the Input",
              "value": "column"
            },
            {
              "label": "Below the Input",
              "value": "column-reverse"
            },
            {
              "label": "Left of the Input",
              "value": "row"
            },
            {
              "label": "Right of the Input",
              "value": "row-reverse"
            }
          ]
        }
      ],

    },
    {
      "type": "textarea",
      "name": "Textaria",
      "settings": [
        {
          "type": "text",
          "id": "label",
          "label": "Input Label"
        },
         {
          "type": "text",
          "id": "placeholder",
          "label": "Place Holder"
        },
        {
          "type": "text",
          "id": "name",
          "label": "Name"
        },
        {
          "type": "checkbox",
          "id": "required",
          "label": "Required",
          "default": true
        },
        {
          "type": "select",
          "id": "position",
          "label": "Label Position",
          "options": [
            {
              "label": "Above the Input",
              "value": "column"
            },
            {
              "label": "Below the Input",
              "value": "column-reverse"
            },
            {
              "label": "Left of the Input",
              "value": "row"
            },
            {
              "label": "Right of the Input",
              "value": "row-reverse"
            }
          ]
        }
      ],

    },
     {
      "type": "checkbox",
      "name": "Type Checkbox",
      "settings": [
        {
          "type": "text",
          "id": "label",
          "label": "Input Label"
        },
         {
          "type": "text",
          "id": "placeholder",
          "label": "Place Holder"
        },
        {
          "type": "text",
          "id": "value",
          "label": "Value"
        },
        {
          "type": "text",
          "id": "name",
          "label": "Name"
        },
        {
          "type": "checkbox",
          "id": "required",
          "label": "Required",
          "default": true
        },
        {
          "type": "select",
          "id": "position",
          "label": "Label Position",
          "options": [
            {
              "label": "Above the Input",
              "value": "column"
            },
            {
              "label": "Below the Input",
              "value": "column-reverse"
            },
            {
              "label": "Left of the Input",
              "value": "row"
            },
            {
              "label": "Right of the Input",
              "value": "row-reverse"
            }
        ]
    }
  ]
 }
  ],
  "presets": [
    {
      "name": "SS Form"
    }
  ]
}
{% endschema %}
