{{ 'ss-text-icon-v-1-0.css' | asset_url | stylesheet_tag  }}
  {% for block in section.blocks %}
        {% assign index = forloop.index %}
    {% endfor %}
<style>
  .icon-with-text-d5{
    max-width: calc(1200px + 100px);
    margin: 100px auto;
    width: 100%;
  }
  .it-d5-inner{
      padding: 0 50px;
    }
  .d5-row-it{
    display: flex;
    justify-content: center;
    gap: 50px;
  }
  .d5-it-col{
    min-width: calc(33% - (50px  * {{ index }}));
  }
  @media(max-width: 768px){
    .d5-row-it{
      flex-wrap: wrap;
    }
    .it-d5-inner{
      padding: 0 20px;
    }
  }
</style>
<div class="icon-with-text-d5">
  <div class="it-d5-inner">
    <div class="d5-row-it">
      {% for block in section.blocks %}
        {% assign index = forloop.index %}
        <div class="d5-it-col">
        {% render 'ss-text-icon-v-1-0',
          img: block.settings.img,
          svg: block.settings.svg,
          heading: block.settings.heading,
          seo_heading: block.settings.seo-heading,
          text: block.settings.text,
          button_label: block.settings.button_label,
          button_url: block.settings.button_url,
          icon_size: block.settings.icon-size
        %}
        </div>
      {% endfor %}
    </div>
  </div>
</div>

{% schema %}
  {
    "name": "SS Icon with Text",
    "settings": [],
    "blocks": [
      {
        "type": "icon-text",
        "name": "Icon Text",
        "settings": [
          {
            "type": "image_picker",
            "id": "img",
            "label": "Image"
          },
          {
            "type": "liquid",
            "id": "svg",
            "label": "SVG",
            "info": "Paste SVG code here"
          },
          {
            "type": "text",
            "id": "heading",
            "label": "Heading",
            "default": "Heading"
          },
          {
            "type": "select",
            "id": "seo_heading",
            "label": "SEO Heading",
            "options": [
               {
                "label": "H1",
                "value": "h1"
              },
              {
                "label": "H2",
                "value": "h2"
              },
               {
                "label": "H3",
                "value": "h3"
              },
               {
                "label": "H4",
                "value": "h4"
              },
               {
                "label": "H5",
                "value": "h5"
              },
               {
                "label": "H6",
                "value": "h6"
              },
               {
                "label": "p",
                "value": "p"
              }
            ]
          },
          {
            "type": "richtext",
            "id": "text",
            "label": "Text"
          },
          {
            "type": "text",
            "id": "button_label",
            "label": "Button Label",
          },
          {
            "type": "url",
            "id": "button_url",
            "label": "Button Url"
          }
        ]
      }
    ],
    "presets": [
      {
        "name": "SS Icon with Text"
      }
    ]
  }
{% endschema %}