<script src="{{ ss-counter-v-1-0 | asset_url }}"></script>
<div class="ss-timer">
  {% render 'ss-counter-v-1-0' %}
</div>


{% schema %}
  {
    "name": "SS Timer",
    "settings": [],
    "presets": [
      {
        "name": "SS Timer"
      }
    ]
  }
{% endschema %}