<script src="{{ 'ss-counter-v-1-0.js' | asset_url }}" defer="defer"></script>
{{ 'ss-counter-v-1-0.css' | asset_url | stylesheet_tag }}
<div class="ss-timer">
  {% render 'ss-counter-v-1-0' %}
  {% render 'ss-counter-v-1-0', timer-date: '12/10/2024', timer-time: '18:59:00' %}
</div>


{% schema %}
  {
    "name": "SS Timer",
    "settings": [],
    "presets": [
      {
        "name": "SS Timer"
      }
    ]
  }
{% endschema %}