<style>
.star-sn {
  width: 100px; /* Set your desired width */
  height: 100px; /* Set your desired height */
  background: red;
  background-size: cover; /* Ensures the background image covers the star */
  background-position: center; /* Center the image inside the star */
  display: inline-block;
  clip-path: url(#star-shape); /* Use the clip-path to apply the star shape */
}
</style>
<div class="text-container">
{% for i in (1..5) %}
  {% render 'ss-stars-v1' %}
{% endfor %}
</div>
{% schema %}
  {
    "name": "Star component",
    "settings": [],
    "presets": [
      {
        "name": "Star component"
      }
    ]
  }
{% endschema %}