<style>
.star-sn {
  width: 100px; /* Set your desired width */
  height: 100px; /* Set your desired height */
  background: red;
  background-size: cover; /* Ensures the background image covers the star */
  background-position: center; /* Center the image inside the star */
  display: inline-block;
  clip-path: url(#star-shape-s); /* Use the clip-path to apply the star shape */

}
#starSvg{
  position: relative;
}
#starSvg:after{
  content: '';
  width: 50px;
  height: 50px;
  top: 0;
  left:0;
  display: block;
  background: pink;
}  
</style>
<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="24" height="24">
  <path d="M12 2l2.4 7.2h7.6l-6 4.8 2.4 7.2-6-4.8-6 4.8L8 14.8l-6-4.8h7.6L12 2z" fill="none" stroke="black" stroke-width="2"/>
</svg>


<!-- <script>
  function setStarFill(percentage) {
    const fillRect = document.getElementById('fillRect');
    fillRect.setAttribute('width', `${percentage}%`);
  }

  // Example: Set fill to 50%
  setStarFill(100); // Change the percentage here to control fill
</script> -->


<div class="text-container">
{% for i in (1..5) %}
  {% render 'ss-stars-v1' %}
{% endfor %}
</div>
{% schema %}
  {
    "name": "Star component",
    "settings": [],
    "presets": [
      {
        "name": "Star component"
      }
    ]
  }
{% endschema %}