


<div class="text-container">

  {% render 'ss-stars-v1', rating: 4.5 %}

</div>
{% schema %}
  {
    "name": "Star component",
    "settings": [],
    "presets": [
      {
        "name": "Star component"
      }
    ]
  }
{% endschema %}