<h2>Products</h2>
{% assign collection = section.settings.collection %}
{% for product in collection.products %}
  <div class="atc-product">
    <h3>{{ product.title }}</h3>
    <form class="atc-form" action="/cart/add">
      <input type="hidden" value="{{ product.variants.first.id }}" name="id">
      <button class="atc-button" type="submit">Add to Cart</button>
    </form>
  </div>
{% endfor %}
{% schema %}
  {
    "name": "Test ATC",
    "settings": [
      {
        "type": "collection",
        "id": "collection",
        "label": "Collection"
      }
    ],
    "presets": [
      {
        "name": "TEST ATC"
      }
    ]
  }
{% endschema %}