
{% assign collection = section.settings.collection %}
{% for product in collection.products %}
  <div class="test-atc-product">
    <h2 class="product-d5" data-id="{{ product.first_available_variant.id }}">{{ product.title }}</h2>
    <button class="atc-button">Add to Cart</button>
    <p class="atc-loading" style="display: none;">Loading...</p>
  </div>
{% endfor %}


<script>
  let mainProduct = document.querySelectorAll('.test-atc-product');

  mainProduct.forEach(product => {
    product.querySelector('.atc-button').addEventListener('click', () => {
    var loaderatc = product.querySelector('.atc-loading');
    const vId = product.querySelector('h2').getAttribute('data-id');
    const qty = 1;
    showLoading();

      fetch('/cart/add.js', {
        method: 'POST',
        headers: {
          'content-type': 'application/json'
        },
        body: JSON.stringify({
          id: vId,
          quantity: qty
        })
      })
    .then(res => res.json())
    .then(data => {
      alert('added');
      updateCount();
    }) 
    .catch(error => {
      console.error('found:', error)
    })
    .finally(() => {
      hideLoading();
    })
    })
  })
function updateCount(){
  fetch('/cart.js')
  .then(res => res.json())
  .then(cart => {
    const cartBubble = document.querySelector('.cart-count-bubble span[aria-hidden="true"]')
    if (cartBubble){
      cartBubble.textContent = cart.item_count 
    }
  })
}
function showLoading(){
  loaderatc.style.display = 'none';
}
function hideLoading(){
  loaderatc.style.display = 'block';
}
</script>



{% schema %}
  {
    "name": "Test ATC",
    "settings": [
      {
        "type": "collection",
        "id": "collection",
        "label": "Collection"
      }
    ],
    "presets": [
      {
        "name": "TEST ATC"
      }
    ]
  }
{% endschema %}