
{% assign collection = section.settings.collection %}
{% for product in collection.products %}
  <div class="test-atc-product">
    <h2 class="product-d5" data-id="{{ product.id }}">{{ product.title }}</h2>
    <button class="atc-button">Add to Cart</button>
  </div>
{% endfor %}


<script>
  let mainProduct = document.querySelectorAll('.test-atc-product');

  mainProduct.forEach(product => {
    product.querySelector('.atc-button').addEventListener('click', () => {
    const vId = product.querySelector('h2').getAttribute('data-id');
    const qty = 1;

      fetch('/cart/add.js', {
        method: 'POST',
        headers: {
          'content-type': 'application/json'
        },
        body: JSON.stringify({
          id: vId,
          quantity: qty
        })
      })
    .then(res => response.json())
    .then(data => {
      alert(added);
      // updateCart()
    }) 
    .catch(error => {
      console.error('found:', err)
    })
    })
  })

  
</script>



{% schema %}
  {
    "name": "Test ATC",
    "settings": [
      {
        "type": "collection",
        "id": "collection",
        "label": "Collection"
      }
    ],
    "presets": [
      {
        "name": "TEST ATC"
      }
    ]
  }
{% endschema %}