.ss-input-v1 {
  display: flex;
  flex-direction: var(--direction);
  width: var(--width);
  padding: 10px;
}
.ss-input-v1 input[type="text"],
.ss-input-v1 input[type="number"],
.ss-input-v1 input[type="email"],
.ss-input-v1 textarea {
  padding: 15px;
  width: 100%;
}
