.ss-input-v1,
.ss-input-v1 * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.ss-input-v1 {
  display: flex;
  flex-direction: var(--direction);
  width: var(--width);
  padding: 10px;
}
.ss-input-v1 input[type="text"],
.ss-input-v1 input[type="number"],
.ss-input-v1 input[type="email"],
.ss-input-v1 textarea {
  padding: 15px;
  width: 100%;
  resize: none;
}
.ss-input-v1 input[type="submit"] {
  padding: 15px 25px;
  background: #000;
  color: #fff;
  border: none;
  outline: none;
  transition: all 0.3s;
  cursor: pointer;
}
.ss-input-v1 input[type="submit"]:hover {
  color: #000;
  background: transparent;
  box-shadow: inset 0 0 2px #000;
}
